
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  font-family: 'Barlow',sans-serif;
}
.text-glow {
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}
/* src/index.css or your main CSS file */

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.fade-slow-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition: all ,3s,  3s;
}


/* src/App.css */
.App {
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.Image360View {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

